.container {
    display: grid;
    grid-template-columns:50% 50%;
    gap: 10px;
}

.video-card {
    display: flex;
    flex-direction: column;
}

a {
   text-decoration: none;
   color: black;
   background-color: #dcdcdc;
   padding: 10px;
   width: max-content;
   margin-top: 10px;
   border-radius: 10px;
   margin-left: 10px;
}